{include file="pub/head"}

<title>banner图管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> banner图第一张<span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
  {literal}
  <div class="text-c"> 日期范围：
    <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="width:120px;">
    -
    <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" style="width:120px;">
    <input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name=""><button type="submit" class="btn btn-success" id="" name=""><i class="icon-search"></i> 搜用户</button>

  </div>
  {/literal}
  <div class="cl pd-5 bg-1 bk-gray mt-20">
    <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="icon-trash"></i> 批量删除</a>
      <a href="javascript:;" onclick="member_add('添加banners图','{:url(\'tianjia\')}','','510')" class="btn btn-primary radius">
            <i class="Hui-iconfont">&#xe600;</i> 添加banner图</a>
   </span>

  </div>
  <table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
      <tr class="text-c">
        <th width="25"><input type="checkbox" name="" value=""></th>
        <th width="40">id</th>
        <th width="100">路径</th>
        <th width="40">图片</th>
       
        <th width="90">操作</th>

      </tr>
    </thead>
    <tbody>
    {volist name="infos" id="v" empty="没有任何数据"}
      <tr class="text-c">
        <th width="25"><input type="checkbox" name="" value=""></th>
        <td>{$v.id}</td>
        <td>{$v.img_path}</td>
        <td><img src="{:substr($v.img_path,1)}" alt="" width="140" height="60"/></td>
        


        <td class="td-manage">
          <a title="编辑" href="javascript:;"
             onclick="member_edit('编辑','{:url(\'xiugai\',[\'id\'=>$v.id])}','4','','510')"
             class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>



        </td>
      </tr>
    {/volist}
    </tbody>
  </table>
  <div id="pageNav" class="pageNav"></div>
</div>



{include file="lunbo_first/js_index"}
{include file="pub/foot" }