{include file="pub/head"}
<!--publicBanner-->
<div class="piblicBanner">
    <img src="{:config('home_images')}innerPublicBanner.jpg">
    <div class="breadcrumb_part">
        <div class="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="guide">
                            <h2>木瓜新闻 /
                                <small>Small Craftsman News</small>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="caseList">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tab">
                    <ul id="myTab">
                        {volist name="data" id="v"}
                        <li >
                            <a   onclick="shuxin({$v.category_id})" class="aa" data-toggle="tab">{$v.category_name}</a>
                        </li>
                        {/volist}



                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>
<!--newslist-->
<div class="newsList">
    <div class="container" >
        <div class="row">
            {volist name="infos" id='v'}
            <div class="col-md-6">
                <a href="/home/news/detail?id= +{$v.id}.html">
                    <div class="newsItem">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 paddR">
                                <div class="newsPic">
                                    <img   src="{:substr($v.img,1)} " width="100" height="120">
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <div class="newsTxt">
                                    <h4>{$v.title}</h4>
                                    <p>
                                        {$v.keywords}
                                    </p>
                                    <span>{:substr($v.create_time,0,10)}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {/volist}


            <div class="col-md-12">
                <div class="page"></div>
            </div>
        </div>
    </div>
</div>

<!--<script>-->
    <!--$(".page").createPage({-->
        <!--pageCount:10,-->
        <!--current:1,-->
        <!--backFn:function(p){-->
        <!--//console.log(p);-->
        <!--}-->
    <!--});-->
<!--</script>-->
<!----footer---->
{include file="pub/foot"}
<script >
    function shuxin(id){



        if (id == 4){
            window.location.reload();
        }else{
            $.ajax({
                url:"{:url('inde')}",
                data:id,
                dataType:'json',

                success:function () {
                    
                }
                });
        }



    }

     var li = $('.aa')[0].closest('li');
    li.className="active";
    </script>
