
<!----header---->
{include  file="pub/head"}
<!----banner---->
<style>

    @media screen and (min-width: 1201px) {
        *{
            margin: 0;
            padding: 0;
            border: none;
        }
        .banner_box{
            position: relative; /*attention*/
            width: 100%;
            height: 550px;
            overflow: hidden;
        }
        .banner_images{
            position: absolute; /*attention*/
            left: 0;
            width: 400%; /*attention please*/
        }
        .banner_img{
            float: left;
            width: 25%; /*attention please*/
            height: 550px;
        }
        .banner_img img{
            width: 100%;
            height: 550px;
        }

        .switcher{
            position: absolute;
            top: 285px;
            width: 100%;
            display: none;
        }
        .switcher p{
            height: 50px;
            width: 50px;
            line-height: 50px;
            text-align: center;
            color: #fff;
            font-size: 30px;
            background: rgba(0, 0, 0, .8);
            border-radius: 50%;
            cursor: pointer;
        }
        .switcher .prev{
            float: left;
            margin-left: 50px
        }
        .switcher .next{
            float: right;
            margin-right: 50px;
        }
        .banner_box:hover .switcher{
            display: block;
        }
        .points{
            position: absolute;
            left: 50%;
            bottom: 30px;
            width: 400px;
            margin-left: -200px;
            overflow: hidden;
        }
        .points li{
            width: 100px;
            height: 5px;
            background: rgba(0, 0, 0, .8);
            float: left;
            list-style: none;
            cursor: Crosshair;
        }
        .points li.point_on{
            background: #C92027;
        }
    }

    @media screen and (max-width: 600px) {
        *{
            margin: 0;
            padding: 0;
            border: none;
        }
        .banner_box{
            position: relative; /*attention*/
            width: 100%;
            height: 100px;
            overflow: hidden;
        }
        .banner_images{
            position: absolute; /*attention*/
            left: 0;
            width: 400%; /*attention please*/
        }
        .banner_img{
            float: left;
            width: 25%; /*attention please*/
            height: 100px;
        }
        .banner_img img{
            width: 100%;
            height: 100px;
        }

        .switcher{
            position: absolute;
            top: 285px;
            width: 100%;
            display: none;
        }
        .switcher p{
            height: 50px;
            width: 50px;
            line-height: 50px;
            text-align: center;
            color: #fff;
            font-size: 30px;
            background: rgba(0, 0, 0, .8);
            border-radius: 50%;
            cursor: pointer;
        }
        .switcher .prev{
            float: left;
            margin-left: 50px
        }
        .switcher .next{
            float: right;
            margin-right: 50px;
        }
        .banner_box:hover .switcher{
            display: block;
        }
        .points{
            position: absolute;
            left: 50%;
            bottom: 30px;
            width: 400px;
            margin-left: -200px;
            overflow: hidden;
        }
        .points li{
            width: 100px;
            height: 5px;
            background: rgba(0, 0, 0, .8);
            float: left;
            list-style: none;
            cursor: Crosshair;
        }
        .points li.point_on{
            background: #C92027;
        }

    }


</style>


<div class="banner_box">
    <div class="banner_images">
        {volist name="inf" id="v"}
        <div class="banner_img"><img src="{:substr($v.img_path,1)}" alt="bannerThree"></div>
        {/volist}


    </div>

    <div class="switcher">
        <p class="prev">←</p>
        <p class="next">→</p>
    </div>


</div>
<div id="service">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    <div>
                        <h2>木瓜 - <span>服务</span></h2>
                        <a href="tel:"></a>
                        <p>Small Craftsman Service</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 paddnone">
                <a href="/home/about/index.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{:config('home_images')}/icon_pic1.jpg">
                        </div>
                        <div class="service-hover">
                            <img src="{:config('home_images')}/HD-logo.png">
                            <h3>关于木瓜</h3>
                            <p>木瓜文化致力于为客户提供更好的服务 严谨的态度</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 paddnone">
                <a href="/home/news/index.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{:config('home_images')}/icon_pic2.jpg">
                        </div>
                        <div class="service-hover">
                            <img src="{:config('home_images')}/news-icon.png">
                            <h3>新闻中心</h3>
                            <p>发布浏览业内消息 公司最新状态 参与活动状态</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 paddnone">
                <a href="/home/product/index.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{:config('home_images')}/icon_pic1.jpg">
                        </div>
                        <div class="service-hover">
                            <img src="{:config('home_images')}/case-icon.png">
                            <h3>木瓜服务</h3>
                            <p>智能家居 学习玩具 技术支持</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 paddnone">
                <a href="/home/contact/index.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{:config('home_images')}/icon_pic2.jpg">
                        </div>
                        <div class="service-hover">
                            <img src="{:config('home_images')}/tel-icon.png">
                            <h3>联系我们</h3>
                            <p>业务合作 项目咨询可联系我们进一步交流</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!----about---->
<!--<div id="about">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<div class="about-text">-->
                    <!--<h1>北京隆富盛元科技发展有限公司</h1>-->
                    <!--<h4>我们有严谨的态度 专业的技术 全面的服务 多年的智能家居行业经验 靠谱的团队</h4>-->

                    <!--<a class="about-btn" href="#">About Us</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!----case---->

<div id="culture">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    <div>
                        <h2><span>企业文化</span></h2>
                        <p>COMPANY ONLINE PROJECT DISPLAY</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="culture">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="culture-left">
                        <div class="culture-text">
                            <h2>品牌文化:</h2>
                            <p>{$infos.detail_one}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="culture-right">
                        <div class="culture-text">
                            <h2>公司主营业务</h2>
                            <span>Main business of the company</span>
                          {volist  name="data" id="v" empty="没有任何记录"}
                                <p>{$v.business}</p>
                            {/volist}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //case
    (function ($) {
        $.fn.extend({
            show: function (div) {
                var w = this.width(),
                    h = this.height(),
                    xpos = w / 2,
                    ypos = h / 2,
                    eventType = "",
                    direct = "";
                this.css({"overflow": "hidden", "position": "relative"});
                div.css({"position": "absolute", "top": this.width()});
                this.on("mouseenter mouseleave", function (e) {
                    var oe = e || event;
                    var x = oe.offsetX;
                    var y = oe.offsetY;
                    var angle = Math.atan((x - xpos) / (y - ypos)) * 180 / Math.PI;
                    if (angle > -45 && angle < 45 && y > ypos) {
                        direct = "down";
                    }
                    if (angle > -45 && angle < 45 && y < ypos) {
                        direct = "up";
                    }
                    if (((angle > -90 && angle < -45) || (angle > 45 && angle < 90)) && x > xpos) {
                        direct = "right";
                    }
                    if (((angle > -90 && angle < -45) || (angle > 45 && angle < 90)) && x < xpos) {
                        direct = "left";
                    }
                    move(e.type, direct)
                });

                function move(eventType, direct) {
                    if (eventType == "mouseenter") {
                        switch (direct) {
                            case "down":
                                div.css({"left": "0px", "top": h}).stop(true, true).animate({"top": "0px"}, "fast");
                                break;
                            case "up":
                                div.css({"left": "0px", "top": -h}).stop(true, true).animate({"top": "0px"}, "fast");
                                break;
                            case "right":
                                div.css({"left": w, "top": "0px"}).stop(true, true).animate({"left": "0px"}, "fast");
                                break;
                            case "left":
                                div.css({"left": -w, "top": "0px"}).stop(true, true).animate({"left": "0px"}, "fast");
                                break;
                        }
                    } else {
                        switch (direct) {
                            case "down":
                                div.stop(true, true).animate({"top": h}, "fast");
                                break;
                            case "up":
                                div.stop(true, true).animate({"top": -h}, "fast");
                                break;
                            case "right":
                                div.stop(true, true).animate({"left": w}, "fast");
                                break;
                            case "left":
                                div.stop(true, true).animate({"left": -w}, "fast");
                                break;
                        }
                    }
                }
            }
        });
    })(jQuery)
    /*
    *使用说明：
    *		$(".a").show($(".b"))
    *		a是展示层，b是遮罩层
    *		b在a的内部
    */

    $(".case-item").each(function (i) {
        $(this).show($(".case-hover").eq(i));
    });
</script>
<script>
    $(function(){
        var img_length = $('.banner_img').length; //图片的张数
        var i  = 1;

        //3

        function banner(){ //轮播函数
            if(i < 0){
                i = img_length - 1;
            }
            if(i > img_length - 1){
                i = 0;
            }
            $('.banner_images').animate({'left': (-i*100)+'%'});
            $('.points li').eq(i).addClass('point_on').siblings().removeClass();
            i++;
        }
        var banner_timer = setInterval(banner, 3000);

        $('.switcher p').hover(function(){	//鼠标移入左右切换箭头清除定时器使轮播停止
            clearInterval(banner_timer);
        },function(){	//鼠标移出切换箭头还原定时器，这里为避免定时器重复 还将定时器赋值给上边定义的banner_timer变量
            banner_timer = setInterval(banner, 3000);
        });

        $('.switcher p').click(function(){	//点击左右箭头使图片左右切换
            if($(this).attr('class') == 'prev'){
                i-=2;
                banner();
            }else{
                i += 1;
                banner();
            }
        })

        $('.points li').click(function(){	//点击相应的焦点跳转到对应图片
            i = $(this).index();
            banner();
        });
    });
</script>
{include file="pub/foot"}
