{include file="pub/head" /}

<title>订单管理</title>

<style type="text/css">
    /*分页样式*/
    .pagination li{list-style:none;float:left;margin-left:10px;
        padding:0 10px;
        background-color:#5a98de;
        border:1px solid #ccc;
        height:26px;
        line-height:26px;
        cursor:pointer;
        color:#fff;
    }
    .pagination li a{color:white;}
    .pagination li.active{background-color:white;color:gray;}
    .pagination li.disabled{background-color:white;color:gray;}
</style>

</head>
<body>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 订单中心 <span class="c-gray en">&gt;</span> 订单管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    {literal}
    <div class="text-c"> 日期范围：
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">
        <input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="">
        <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜订单</button>
    </div>
    {/literal}
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="delsel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>

		<a href="javascript:;" onclick="member_add('添加分类','{:url(\'tianjia\')}','','510')" class="btn btn-primary radius">
            <i class="Hui-iconfont">&#xe600;</i> 添加新闻</a>

	</span> <span class="r">共有数据：<strong>88</strong> 条</span> </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="30">ID</th>
                <th width="230">新闻标题</th>
                <th width="60">新闻作者</th>
                <th width="60">分类id</th>
                <th width="200">logo</th>
                <th width="40">新闻关键字</th>

                <th width="*">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="info" id="v" }
            <tr class="text-c">
                <td><input type="checkbox" value="{$v.id}" name="aa[]"></td>
                <td>{$v.id}</td>

                <td>{$v.title}</td>
                <td>{$v.author}</td>
                <td>{$v.category_id}</td>
                <td><img src="{:substr($v.img,1)}"  width="140"  height="60" alt=""></td>

                <td>{$v.keywords}</td>
                <td class="td-manage">
                    <a title="编辑" href="javascript:;"
                       onclick="member_edit('编辑','{:url(\'xiugai\',[\'id\'=>$v.id])}','4','','510')"
                       class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                    <a title="删除" href="javascript:;" onclick="member_del(this,{$v.id})"
                       class="ml-5" style="text-decoration:none">
                        <i class="Hui-iconfont">&#xe6e2;</i></a>
                </td>
            </tr>
            {/volist}

            </tbody>
        </table>
    </div>
</div>

{include file="news/js_index" /}

{include file="pub/foot" /}


























