{include file="pub/head"}
<!--publicBanner-->
<div class="piblicBanner">
    <img src="{:substr($img.img,1)}" >
    <div class="breadcrumb_part">
        <div class="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="guide">
                            <h2>产品服务 /
                                <small>Product Service</small>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--caseList-->
<div class="caseList">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tab">
                    <ul id="myTab">
                        <li class="aa">
                            <a onclick="shuaxin()"   class="bb" data-toggle="tab">全部产品</a>
                        </li>
                        {volist name="category"  id="v"}
                        <li >
                            <a href="#{$v.category_id}"   class="bb" data-toggle="tab">{$v.category_name}</a>
                        </li>
                        {/volist}



                    </ul>
                </div>
                <div id="myTabContent" class="tab-content">
                    {volist name="category"  id="vv"}
                    <div class="tab-pane fade in active" id="{$vv.category_id}">
                        <div class="row">
                            {volist name="product" id="vvv"}

                                {eq name="$vvv.category_id"  value="$vv.category_id"}
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="caseItem">
                                    <img src="{:substr($vvv.product_img,1)}"  width="480" height="480"  class="img-responsive">
                                    <h5>￥{$vvv.product_price}</h5>
                                    <p>{$vvv.product_name}</p>
                                    <div class="footLink">
                                        <div>
                                            <a href="{$vvv.product_link}" target="view_window" class="leftLink">商品链接</a>

                                        </div>
                                        <a href="{$vvv.product_link}" target="view_window" class="rightLink">查看详情</a>
                                    </div>
                                </div>
                            </div>
                                {/eq}
                            {/volist}

                        </div>
                    </div>
                    {/volist}

                </div>

                <div class="page"></div>
            </div>
        </div>
    </div>
    <script>

        function shuaxin(){
            location.reload();
        }



        $(".page").createPage({
            pageCount:10,
            current:1,
            backFn:function(p){
                console.log(p);
            }
        });

          var aa =  $('.aa')[0];

         aa.className = "active";



    </script>
</div>
<!----footer---->
{include file="pub/foot"}
