{include file="pub/head"}
<!--publicBanner-->
<div class="piblicBanner">
    <img src="{:substr($img.img,1)}">
    <div class="breadcrumb_part">
        <div class="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="guide">
                            <h2>联系我们 /
                                <small>Contact Us</small>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--teamDetail-->
<div class="contact">
    <div class="contactInfo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contactTxt">
                        <div class="row">
                            <div class="col-md-9">
                                <h4>北京隆富盛元科技发展有限公司</h4>
                                <p>公司不断寻求多渠道合作模式，基于对企业客户业务需求的详尽了解，提供多种成熟完善的移动营销解决方案，准确把握市场需求，
                                    由经验丰富的专业技术团队为企业量身定制、全程服务。</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 paddN">
                    <iframe src="{:url('map')}"  class="mm" width="100%"   ></iframe>
                    <style type="text/css">
                        @media screen and (max-width: 600px) {
                            .mm {height: 200px}
                        }
                        @media screen and (min-width: 1200px){
                            .mm {height: 400px}
                        }

                    </style>
                </div>
            </div>
        </div>
    </div>


    <div class="contactType">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="common address">
                        <div class="pic">
                            <img src="{:config('home_images')}addressicon.png">
                        </div>
                        <h4><strong>公司地址</strong></h4>
                        <p>{$info.address}</p>
                        <span><strong>邮编：100076</strong></span>
                        <a href="javascript:;">查看位置</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="common telephone">
                        <div class="pic">
                            <img src="{:config('home_images')}telphoneicon.png">
                        </div>
                        <h4><strong>联系方式</strong></h4>
                        <p>联系电话<br>{$info.tel}</p>
                        <span>E-mail：{$info.email}</span>
                        <a href="tel:{$info.tel}">联系我们</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="common message">
                        <div class="pic">
                            <img src="{:config('home_images')}website_icon.png">
                        </div>
                        <h4><strong>线上留言</strong></h4>
                        <p>商务合作 业务咨询</p>
                        <span>线上留言<br>及时回复</span>
                        <a href="javascript:;">点击留言</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----footer---->

{include file="pub/foot"}
