<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7">
                <div class="footer-text">
                    <h4>联系方式</h4>
                    <ul>
                        <li><img src="{:config('home_images')}mapicon.png">地址：{$info.address}</li>
                        <li><img src="{:config('home_images')}teliocn.png">电话：{$info.tel}</li>
                        <li><img src="{:config('home_images')}emailicon.png">E-mail：{$info.email}</li>
                        <li><img src="{:config('home_images')}websiteicon.png">网址：{$info.com}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-sm-5">
                <div class="footer-erwei">

                    <div>
                        <a href="#" class="thumbnail">
                            <img src="{:config('home_images')}erweima2.jpg">
                        </a>
                        <p>扫码关注隆富盛元微信公众号</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="copyright">
    <p><span>服务条款</span>Copyright©2018　北京隆富盛元科技有限公司　保留所有权利　京ICP证030173号</p>
</div>
</body>
</html>