<script type="text/javascript">

    //页面加载完毕后，给form表单设置submit提交事件
    $(function(){
        $('#tianjia').submit(function(evt){
            evt.preventDefault();//阻止浏览器提交动作
            var shuju = $(this).serialize(); //收集form表单信息




            //ajax传递数据到服务器端存储
            $.ajax({
                url:'{:url("tianjia")}',    // /admin/product_service/tianjia
                data:shuju,
                dataType:'json',
                type:'post',
                success:function(msg){
                    if(msg.info==1){
                        layer.alert('添加成功',{icon:6},function(){
                            //下述① 和 ②执行顺序要求

                            parent.window.location.href=parent.window.location.href;
                            //② 关闭修改地址的弹框表单页面
                            layer_close();
                        });
                    }else{
                        layer.alert('添加失败【'+msg.errorinfo+'】',{icon:5});
                    }
                }
            });
        });
    });
</script>