{include file="pub/head"}
    <script>
        $(document).ready(function () {
            /*评论*/
            $(".comment-carousel-carousel").owlCarousel({
                autoPlay: 6000,
                items: 6,
                navigation: false,
                pagination: true,
                itemsDesktop: [1199, 4],
                itemsDesktopSmall: [979, 3],
                itemsTablet: [768, 2],
                itemsMobile: [479, 1],
            });

        })
    </script>
</head>

<body>
<!----header---->





<!--publicBanner-->
<div class="piblicBanner">
    <img src="{:config('home_images')}innerPublicBanner.jpg">

</div>
<!--aboutHighDao-->
<div class="aboutHighDao">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tab">
                    <ul>




                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="innerAbout" id="innerAbout">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <h3>公司简介 /
                            <small>COMPANY PROFILES</small>
                            <span class="line"></span></h3>
                    </div>
                    <div class="aboutContent">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="aboutImg">
                                    <img src="{:config('home_images')}aboutImg.jpg" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="aboutTxt">
                                    <p>{$infos.about_us}</p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="companyProfiles" id="companyProfiles">
        <img src="{:config('home_images')}companyimg.jpg" class="img-responsive">
        <div class="companyInfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="companyHonors" id="companyHonors">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>

    </div>
</div>
<script>
    var lis = document.getElementsByClassName("btn");
    for(var i = 0; i < lis.length; i++) {
        lis[i].onclick = function() {
            //获取当前li的data-to属性值，用来匹配目标div
            var attr = this.getAttribute("data-to");
            //获取与当前li想匹配的div距离页面顶端的距离
            var div_top = document.getElementById(attr).offsetTop;
            window.scrollTo(0, div_top - 90);
        }
    }
</script>
<!----footer---->
{include file="pub/foot"}
