<script type="text/javascript">



    /*
    * 商品-促销状态切换
    * @param obj:代表被点击商品本身td的dom对象
    */
    function change_status(obj){
        //为“哪个”商品做“什么”促销切换
        var td_id = $(obj).attr('id');  //goods_44_0
        td_id_arr = td_id.split('_'); //String-->Array [goods,44,0]
        var id = td_id_arr[1];
        var is_use = td_id_arr[2]==0?1:0;  //计算修改好促销状态值
        //console.log(id,is_use);

        //调用ajax传递id和is_use到服务器端
        $.ajax({
            url:'{:url("change_status")}',
            data:{id:id,is_use:is_use},
            dataType:'json',
            type:'post',
            success:function(msg){
                if(msg.info==1){
                    //更新图片
                    if(is_use==0){
                        var ig = '<img src="{:config(\'admin_temp\')}no.gif" alt="" title="已下线" />';
                    }else{
                        var ig = '<img src="{:config(\'admin_temp\')}yes.gif" alt="" title="已上线" />';
                    }
                    $(obj).html(ig);

                    //更新 促销 td的id属性值
                    $(obj).attr('id','change_'+id+'_'+is_use);

                    layer.msg('修改成功',{icon:6,time:2000});
                }else{
                    layer.msg('修改失败',{icon:5,time:3000});
                }
            }
        });
    }


    /*商品-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(){
            $.ajax({
                url:'{:url("shanchu")}',
                type: 'POST',
                dataType: 'json',
                data:{id:id},
                success: function(msg){
                    if(msg.info==1){
                        //删除页面商品对应的tr
                        $(obj).closest('tr').remove();
                        layer.msg('已删除!',{icon:1,time:1000});  //做1s种的弹框提示
                    }
                }
            });
        });
    }


    /*商品-添加*/
    function member_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*商品-查看*/
    function member_show(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*商品-停用*/
    function member_stop(obj,id){
        layer.confirm('确认要停用吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '',
                dataType: 'json',
                success: function(data){
                    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
                    $(obj).remove();
                    layer.msg('已停用!',{icon: 5,time:1000});
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }
    /*
    * 商品批量删除
    * */
    function delsel(){
        //获取选中的元素对象集
        var aa  = $('[name ^=aa]:checked');
        var arr = [];
        aa.each(function(){
            var  obj = $(this).val();
            arr.push(obj);
        });

        if(arr.length !== 0){layer.confirm('确认要删除吗？',function(){
            $.ajax({
                url:'{:url("delsel")}',
                type: 'POST',
                dataType: 'json',
                data:{goods_ids:arr},


                success: function(msg){
                    if(msg.status=='success'){
                        //删除页面商品对应的tr
                        aa.each(function(){
                            var  obj = $(this);

                            $(obj).closest('tr').remove();

                        });


                        layer.msg('已删除!',{icon:1,time:1000});  //做1s种的弹框提示
                    }else{
                        layer.msg('删除失败!',{icon:5,time:1000});

                    }
                }
            });
        })
        }else{
            layer.msg('还未勾选商品',{icon:6,time:1000});

        }



    }

    /*商品-启用*/
    function member_start(obj,id){
        layer.confirm('确认要启用吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '',
                dataType: 'json',
                success: function(data){
                    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                    $(obj).remove();
                    layer.msg('已启用!',{icon: 6,time:1000});
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }
    /*商品-编辑*/
    function member_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*密码-修改*/
    function change_password(title,url,id,w,h){
        layer_show(title,url,w,h);
    }

    /**
     * banner图上线与下线
     */

    function change_statu(obj,) {
        //ajax传递数据到服务器端存储
var use = is_use==1?0:1;

console.log(use);



        $.ajax({

            //url:'{:url("admin/lunbo_first/xiugai")}',
            url:'{:url("change_status","",false)}',
            dataType:'json',
            data:{id:id,is_use:use},
            type:'post',
            success:function(msg){
                if(msg.info==1){
                  if (use==1){
                      layer.alert('上线成功',{icon:6,time:1000});
                      var text = '<img src="{:config(\'admin_temp\')}yes.gif" alt="" title="已上线" />';


                  }else{
                      layer.alert('下线成功',{icon:5,time:1000});
                      var text = '<img src="{:config(\'admin_temp\')}no.gif" alt="" title="已下线" />';

                  }
                    $(obj).html(text);

                }else{
                    //layer.alert('失败【'+msg.errorinfo+'】',{icon:5},function(){
                    //② 关闭添加商品的弹框表单页面
                    //layer_close();
                    //});
                    layer.alert('添加图片失败【'+msg.errorinfo+'】',{icon:5});
                }
            }
        });

    }

</script>